body {
    margin: 0;
    background-color: #0d0d0d;
    color: #00ffcc;
    text-align: center;
    font-size: 24px;
    font-family: font-family: "Intel One Mono", monospace;
    line-height: 1.6;
    padding: 2em;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-family: "Quicksand", sans-serif;
    color: #ff0055;
}

blockquote {
    border-left: 4px solid #00ffcc;
    padding-left: 1em;
    margin-left: 0;
    color: #66ffe0;
}

.title-two {
    color: #fff;
}
